
body{
  margin-left:80px;
  margin-top: 88px;
  margin-right: 80px;
  margin-bottom: 137px;
}
h2{
  text-transform: uppercase;
  color: #E1624F;
  font-family: 'Open Sans';
  font-weight: bold;
  
}

h1{
  margin-top: 8px;
  margin-bottom: 40px;

}